

 .modalBG {
  border-radius:10px 0 0 10px;
  position: fixed;
  right:0;
  top:5rem;
  box-shadow: 0 0 8px #888888;
  color: #1f3554;
  font-family: Arial, Helvetica, sans-serif;
  z-index:10;
  padding:0;
  box-sizing: border-box;
}

 .previewButton {
   padding:10px;
   border: none;
   background-color: white; 
   color: #1f3554;
   font-weight:650;
   text-align: left;
   box-sizing: border-box;
   transition: background-color 0.5s, color 0.5s;
   width:100%;
 }

 .previewButton:hover {
  background-color: #1f3554;
  color: white;
  margin:0;

}

.previewButton:active {
  border:none;
  background-color: #1f3554; 
  color: white;
  
}
.previewButton:focus {
  outline:0;
  border:0;
}

.modalBody {
  width:700px;
  margin: 0 auto;
  display:none;
  justify-items: space-evenly;
  flex-wrap: wrap;
}

.modalTitle{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.modalBorder {
  height: 1rem;
  width:100%;
  background-color: #1f3554;
  margin:0;
}

.pageHeader {
  margin-left: 1rem;
  margin-right: 4rem;
}

.iframeBox{
  width:100%;
  text-align: center;
  border-radius: 0 0 0 10px;
}

.audioBox {
  width:50%;
}

@keyframes expandModal {
  0% {
    opacity: 0;
    transform: translateX(650px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hideModal {
  0% {
    width: 700px;
    background-color: #1f3554;
  }

  100% {
    width: 110px;
    background-color: white;
  }
}